@model IEnumerable<WishLists>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{ Layout = null; }

@{ ViewData["Title"] = "Index"; }

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Saurabh" content="Shopping Cart">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/NavBarSession.css" />
    <link rel="stylesheet" href="~/css/ViewProdStyleSheet.css" />
</head>
<body>

    <nav class="site-header sticky-top py-3">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" asp-controller="Products" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
            </a>
            <a class="py-2 d-none d-md-inline-block" href="#"><b>@HttpContextAccessor.HttpContext.Session.GetString("customerName")</b></a>
            <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
            <a class="py-2 d-none d-md-inline-block" asp-controller="Products" asp-action="Logout"><b>Logout</b></a>
            <a class="py-2 d-none d-md-inline-block"  asp-controller="Carts" asp-action="Index"><i class="fa fa-shopping-cart fa-2x"></i></a>
            <form class="form-inline my-2 my-md-0" asp-controller="Products" asp-action="SerachProductByName">

                <div class="sa-search-box">
                    <input class="search-item" type="text" placeholder="Search" name="item">
                    <button class="btn btn-warning" type="submit" style="position:absolute; left:12rem">
                        <i class="fa fa-search fa-2x"></i>
                    </button>

                </div>

            </form>
        </div>
    </nav>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VendorId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateAdded)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerId)
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
       
    </td>
</tr>}
        </tbody>
    </table>
</body>